.footer
  .container
    .row
      .col-md-4.col-sm-6.col-12
        h4 Piroll Design, Inc.
        p
          | © 2017 Piroll. All rights reserved.
          br
          |                   Designed by robirurk.
      .col-md-3.col-sm-6.col-12
        a(href='#')
          p hello@pirolltheme.com
        a(href='#')
          p +44 987 065 908 
      .col-md-3.col-6
        .row
          .col-6
            ul
              a(href='#')
                li Projects
              a(href='#')
                li About
              a(href='#')
                li Services
              a(href='#')
                li Carreer
          .col-6
            ul
              a(href='#')
                li News
              a(href='#')
                li Events
              a(href='#')
                li Contact
              a(href='#')
                li Legals
      .col-md-2.col-6
        ul
          a(href='#')
            li Facebook
          a(href='#')
            li Twitter
          a(href='#')
            li Instagram
          a(href='#')
            li Dribbble
<script src="js/menu.js"></script>